<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
    <name replace-wildcards="yes">edgeos</name>
    <service>
        <type>_http._tcp</type>
        <port>8080</port>
        <txt-record>edgeos=0.0.1</txt-record>
        <txt-record>edgeosdevice=SOME_UUID</txt-record>
    </service>
</service-group>